.hero{
    margin: 0px 120px;
    margin-top: 270px;
}

.hero-text{
    color: aliceblue;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
}


.hero-explore{
    display: flex;
    align-items: center;
    gap: 20px;
    width:fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: aliceblue;
    cursor: pointer;
}
.hero-explore p{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background-color: aliceblue;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: rgb(238, 0, 255);

}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    color: aliceblue;
    font-size: 23px;
}


/*respensive DEsigne*/

@media (min-width: 400px) {
    .hero {
        margin: 0px 20px;
        margin-top: 100px;
    }
    .hero-text{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }
    .hero-explore{
        gap: 15px;
        padding: 8px 15px;
        border-radius: 30px;
    }
    .hero-explore p {
        font-size: 16px;
    }
    .hero-play p {
        font-size: 16px;
    }
}