.register {
    font-family: sans-serif;
    background-color: #ffffff; /* Couleur de fond claire */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: hidden;
  }
  
  .register-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #FF3131; /* Couleur festive pour le titre */
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #FF3131 ; /* Couleur festive pour le bouton */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 7.5px 30px;

  }
  
  button:hover {
    background-color:#FF3131  ; /* Couleur légèrement plus foncée au survol */
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .success {
    color: green;
    margin-top: 10px;
  }